@media screen and (max-width: 768px) {
  .big-container{
    width: 583px;
    height: 65.5px;
    padding: 11px 0;
  }
    .nav-list {
    display: none;
  }

  .nav-btn {
    background-color: $button-color;
    border: 1px solid #fff;
    width: 24px;
    height: 24px;
    float: right;
    right: 1px;
    margin-right: 3px;
    margin-top: -20px;
  }
  .nav-close-btn {
    background-color: $button-color;
    border: 1px solid #fff;
    width: 24px;
    height: 24px;
    margin-top:-16px;
  
  
  }
  .img-logo {
    margin-top: 1px;
  }
  .btn-book-oxley {
    margin-top: 18px;
    margin-left: 2px;
    margin-right: 0px;

  }
  .btn-book-can {
    margin-left: 6px;
    margin-right: -6px;
  }
}
