.Head-three{
font-family: Nexa-Trial;
font-size: 32px;
color:  #6A6A6A;
font-weight: 900;
line-height: 38px;
letter-spacing: 0em;
text-align: center;
margin-top: 87px;
margin-bottom: -10px;
}
.container-content{
    display: flex;
    justify-content: space-between;
}
.left-column{
 
  width:50%; 
  margin-left: 56px;
  margin-top: 48px;
  line-height: 24px;
}
.right-column{

    width: 50%;
    margin-left: 230px;
    margin-top: 48px;
    
}
.right-column>p{
  font-family: 'Montserrat';
  line-height: 24px;
  margin-bottom: 24px;
  text-align: justify;
}
.left-column>p{
  font-family: 'Montserrat';
  text-align: justify;
  line-height: 24px;
  margin-bottom: 46px;
}